.App {
  text-align: center;
}

.content{
  display: flex;
}

.content-main{
  flex-grow: 1;
}

.content-cards{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px;
  background-color: #f9f6f6;
}