.App {
  text-align: center;
}

.content{
  display: flex;
  border: 1px solid black;
}

.content-main{
  flex-grow: 1;
}

.content-cards{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px;
}